.top
  .bg_image
    .container
      %ul.menu
        %li.menu__list 
          = link_to "#", class:"Q1", id:"Q1" do
            Q 1
        %li.menu__list
          = link_to "#", class:"Q2", id:"Q2" do
            Q 2
        %li.menu__list
          = link_to "#", class:"title",id:"title" do
            TITLE
    .box
      .categoryA
        .categoryA__1
          切り取り、コピー、貼り付け、その他の
        %br
        .categoryA__2
          一般的なショートカット(全21問)

    