.top_content {
  background-image: image-url("576626.jpg");
  height: 100vh;
  width: 100vw;
  background-size:100vw 100vh;
  font-size: 24px;
  font-family: 'Kosugi Maru', cursive;
  font-weight: bold;

  .Nproblem {
    font-size: 40px;
    background-color: papayawhip;
    position: absolute;
    top: 120px;
    left: 210px;
    border-radius: 20px 20px 20px 20px;
    background-color: papayawhip;
    width: 72%;
    text-align: center;
    user-select: none;
  }

  .choice1 {
    font-size: 45px;
    position: absolute;
    top: 290px;
    left: 210px;
    display: grid;
    grid-template-columns: 400px ;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    user-select: none;
  }

  .choice1:hover {
    transform: translate3d(0, 5px, 0);
    filter: none;
    border-radius: 20px 20px 20px 20px;
  }

  .choice2 {
    font-size: 45px;
    position: absolute;
    top: 290px;
    right: 190px;
    display: grid;
    grid-template-columns: 400px ;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    user-select: none;
  }

  .choice2:hover {
    transform: translate3d(0, 5px, 0);
    filter: none;
    border-radius: 20px 20px 20px 20px;
  }

  .choice3 {
    font-size: 45px;
    position: absolute;
    top: 450px;
    left: 210px;
    display: grid;
    grid-template-columns: 400px;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    user-select: none;
  }

  .choice3:hover {
    transform: translate3d(0, 5px, 0);
    filter: none;
    border-radius: 20px 20px 20px 20px;
  }

  .choice4 {
    font-size: 45px;
    position: absolute;
    top: 450px;
    right: 190px;
    display: grid;
    grid-template-columns: 400px ;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    user-select: none;
  }

  .choice4:hover {
    transform: translate3d(0, 5px, 0);
    filter: none;
    border-radius: 20px 20px 20px 20px;
  }

  .frame {
    text-decoration-line: none;
    border-radius: 20px 20px 20px 20px;
    background-color: papayawhip;
    color: black;
  }

  .red {
    color: deeppink;
    font-weight: bold;
    filter: none;
  }

  .blue {
    color: mediumblue;
    font-weight: bold;
    filter: none;
  }

  .bottom-content {
    height: 10vh;
    width: 100vw;
    position: relative;
  
    .nextbutton {
      font-size: 30px;
      display: none;
      height: 50px;
      width: 150px;
      margin-left: 45%;
      position: absolute;
      margin-top: 12px;
      text-decoration: none;
      color: black;
    }
  
    .display {
      font-size: 30px;
      display: block;
      height: 50px;
      width: 150px;
      margin-left: 46%;
      position: absolute;
      margin-top: 650px;
    }
  
    .top-page-btn {
      text-decoration-line: none;
      font-size: 30px;
      color: black;
      position: absolute;
      top: 650px;
      right: 120px;
    }

    .red {
      color: crimson;
      font-weight: bold;
    }
  }
}